/* body {
  max-width: 1280px;
} */

/* * {
  border: 0.1px solid red;
}

 img {
  border: 0.1px solid blue;
} */

/* npx bem-structure-generator */

.header__logo {
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
