.places__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  /* max-width: 100px; */
}


/* @media screen and (max-width: 625px) {
  .places__link {
    ;
  }
} */

.places__link:hover {
  transition-timing-function: linear;
  transition-duration: .5s;
  opacity: .5;
}
