.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 0.83;
  color: white;
  text-align: center;
  margin: 32px 0 64px;
  width: 640px;
  align-self:center;
}

@media screen and (max-width: 544px){
  .lead__subtitle {
        font-size: 1rem;
        line-height: 0.8;
    }
  }

@media screen and (max-width: 425px){
  .lead__subtitle {
    width: 288px;
    height: 40px;
    }
  }

@media screen and (max-width: 320px)  {
  .lead__subtitle {
    margin: 16px 0 40px;
    font-size: 0.8rem;
    line-height: 0.;

  }
}
