.cover__title {
  position: absolute;
  top: 33%;
  left: 312px;
  text-decoration: none;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: white;
  z-index: 5;
  opacity: 1;
  width: 560px;
  margin: 0;
}

.cover__title:hover {
  transition-timing-function: linear;
  transition-duration: .5s;
  opacity: .5;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    left: 232px;
  }
}


@media screen and (max-width: 768px) {
  .cover__title {
    left: 104px;
  }
}

@media screen and (max-width: 639px) {
  .cover__title {
    font-size: 46px;
    line-height: 42px;
    left: 52px;
  }
}

@media screen and (max-width: 531px) {
  .cover__title {
    width: 240px;
    height: 70px;
    left: 36px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    top: 33px;
  }
}
