.page__section {
  /* max-width: 1280px; */
  padding: 28px 48px 12px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page__section {
    padding: 28px 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    padding: 28px 16px;
  }
}
